body {
	background: #222222;
	position: relative;
}
h2 {
	text-transform: uppercase;
	font-weight: bold;
	padding-bottom: 30px;
}
.loginForm {
	max-width: 400px;
	background: white;
	padding: 40px 20px 10px 20px;
	border-radius: 5px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%)
}

.input {
	background: #e9e9e9;
}

.wrapperBtn {
	display: flex;
	flex-direction: column;
	padding-top: 30px;
}

.socialBtn {
	display: flex;
	flex-direction: column;
}

.facebookBtn {
	background: rgb(66,103,178);
	margin-bottom: 20px;
	border: none;
}
.facebookBtn:hover {
	background: #0587c1;
}

.googleBtn {
	background: #DB4437;
	border: none;
	margin-bottom: 30px;
}

.googleBtn:hover {
	background: #da2012;
}

.wraperLink {
	display: flex;
	justify-content: space-between;
}